<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="infoReplacer" class="by.my.replacement.target.myexample.InfoReplacer"></bean>

<bean id="person" class="by.my.replacement.target.myexample.Person">
<replaced-method name="info" replacer="infoReplacer">
</replaced-method>
<property name="name" value="Lombok"></property>
<property name="age" value="30"></property>
<property name="address" value="London"></property>
</bean>

</beans>
