<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="singer" class="by.my.collects.lookup.Singer" scope="prototype"></bean>

<bean id="abstractLookupBean" class="by.my.collects.lookup.AbstractDemoBean">
	<lookup-method name="getSinger" bean="singer"/>
</bean>

<bean id="standartLookupBean" class="by.my.collects.lookup.StandartLookupDemoBean">
	<property name="singer" ref="singer">
	</property>
</bean>

</beans>
